<div class="stage">

		<div class="players">
			<h2>Pick One</h2>
			<ul class="player1">
				<li>Hansel</li>
				<li><img src="http://placehold.it/250x350&text=Hansel" /></li>
				<li>
					<ul class="itemMenu">
						<li><img src="http://placehold.it/50x50" /></li>
						<li><img src="http://placehold.it/50x50" /></li>
						<li><img src="http://placehold.it/50x50" /></li>
						<li><img src="http://placehold.it/50x50" /></li>
						<li><img src="http://placehold.it/50x50" /></li>
						<li><img src="http://placehold.it/50x50" /></li>
					</ul>
				</li>
				<li>5 Gretels are waiting for a Hansel</li>
			</ul>

			<ul class="player2">
				<li>Gretel</li>
				<li><img src="http://placehold.it/250x350&text=Gretel" /></li>
				<li>
					<ul class="itemMenu">
						<li><img src="http://placehold.it/50x50" /></li>
						<li><img src="http://placehold.it/50x50" /></li>
						<li><img src="http://placehold.it/50x50" /></li>
						<li><img src="http://placehold.it/50x50" /></li>
						<li><img src="http://placehold.it/50x50" /></li>
						<li><img src="http://placehold.it/50x50" /></li>
					</ul>
				</li>
				<li>7 Hansels are waiting for a Gretel</li>
			</ul>
		</div>	
	</div>